<% include ../partials/header.ejs %>

<div class="panel-body">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <p>Contact me by</p>
    <p>Phone number: (905) 441-4145</p>
    <p>Email: sethgabe{@}yahoo.com</p>
  </div>
</div>
<% include ../partials/footer.ejs %> 